
	<div class="footer">
		<div class="footer-widgets">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-8">
						<div class="widget right-border">
							<h2 class="widgettitle"><img src="assets/img/logo/plannertrip_logo_2.png" alt="Blogotrip logo"></h2>

							<p>
							PlannerTrip plans the trip of your dreams. We need to ask you a few questions so we can recommend experiences you will love.
							</p>
							
							</div><!-- /.widget -->
					</div><!-- /.col-* -->

					<div class="col-xs-12 col-sm-12 col-md-3 col-md-offset-1">
						<div class="widget">
							
							<h2 class="widgettitle"><img src="assets/img/incubatelogo/incubatelogo_reversed.png" alt="Incubate logo"></h2>
						</div><!-- /.widget -->
					</div>

					<!--<div class="col-xs-12 col-sm-12 col-md-2 col-md-offset-1">
						<div class="widget">
							<h2 class="widgettitle">Admin</h2>

							<ul class="nav nav-stacked">
								<li class="nav-item"><a href="" class="nav-link">Dashboard</a></li>
								<li class="nav-item"><a href="" class="nav-link">Reviews</a></li>
								<li class="nav-item"><a href="" class="nav-link">Users</a></li>
								<li class="nav-item"><a href="" class="nav-link">Listings</a></li>
							</ul>
						</div>
					</div>-->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.footer-widgets -->


		<div class="footer-bottom">
			<div class="container">
				<div class="footer-bottom-left">
					PlannerTrip is part of <a href="mailto:info@blogotrip.org">Blogotrip Pty Ltd</a>
				</div><!-- /.footer-bottom-left -->

				<div class="footer-bottom-right">
					Copyright &copy; 2017 - All Rights Reserved
				</div><!-- /.footer-bottom-right -->			
			</div><!-- /.container -->
		</div><!-- /.footer-bottom -->
	</div><!-- /.footer -->

