<style>
  
  .mobile-only {
      display: none;
  }

  .facebook {
    background-color: #365397;
  }

  .google-plus {
    background-color: #e0452c;
  }

  .twitter {
    background-color: #00a9f1;
  }

  .reddit {
    background-color: #cee3f8;
  }

</style>

<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Share Itinerary</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-md-12 center">

          <a class="btn btn-secondary btn-sm facebook" socialshare socialshare-provider="facebook" socialshare-title="{{destination}} - {{ndays}} days itinerary"
            socialshare-url="{{urlshare}}" socialshare-type="share" socialshare-via="571748713017786"
            socialshare-from="Plannertrip" socialshare-redirect-uri="{{urlshare}}" socialshare-media="{{logo}}">
            <i class="fa fa-facebook"> </i> Share
          </a>

          <a class="btn btn-secondary btn-sm mobile-only" socialshare socialshare-provider="facebook-messenger" 
            socialshare-url="{{urlshare}}">
            <i class="fa fa-facebook-square"></i> Send 
          </a>

          <a class="btn btn-secondary btn-sm mobile-only" socialshare socialshare-provider="whatsapp" 
            socialshare-url="{{urlshare}}" socialshare-text="{{destination}} - {{ndays}} days itinerary">
            <i class="fa fa-whatsapp"></i> Send 
          </a>

          <a class="btn btn-secondary btn-sm google-plus" socialshare socialshare-provider="google" 
            socialshare-url="{{urlshare}}">
            <i class="fa fa-google-plus"></i> Share 
          </a>

           <a class="btn btn-secondary btn-sm twitter" socialshare socialshare-provider="twitter" 
            socialshare-url="{{urlshare}}" socialshare-text="{{destination}} - {{ndays}} days itinerary"
            socialshare-hashtags="travel #{{destination}}">
            <i class="fa fa-twitter"></i> Tweet 
          </a>  

          <a class="btn btn-secondary btn-sm reddit" socialshare socialshare-provider="reddit" 
            socialshare-url="{{urlshare}}" socialshare-text="{{destination}} - {{ndays}} days itinerary"
            socialshare-subreddit="travel">
            <i class="fa fa-reddit-alien"></i> Share 
          </a>  

        </div>
      </div>

    </div>
  </div>
</div>