<div class="row">
    <div class="col-md-3">
        <div class="card-small-image">
        <a href="" ng-if="!activity.photo_reference==''" ng-click="goDetailActivity(activity)" style="background-image: url('https://maps.googleapis.com/maps/api/place/photo?maxwidth=380&photoreference={{activity.photo_reference}}&key=AIzaSyA-iCNYt6ham4ygfAp6AAAEUDgJcEgFpvM');"></a>

        <a href="" ng-if="activity.photo_reference==''" style="background-image: url('assets/img/tmp/card-2.jpg');"></a>
        </div>
        <!-- /.card-small-image -->
    </div>
    <div class="col-md-9">
        <div class="card-small-content" ng-show="!activity.ext">
            <h4 ng-if="activity.acttype == 'Food & Drink'"> <span class="label label-food">{{activity.acttype}}</span></h4>
            <h4 ng-if="activity.acttype == 'Accommodation'"> <span class="label label-accommodation">{{activity.acttype}}</span></h4>
            <h4 ng-if="activity.acttype == 'Sightseeing'"> <span class="label label-sightseeing">{{activity.acttype}}</span></h4>
            <h4 ng-if="activity.acttype == 'Shopping'"> <span class="label label-shopping">{{activity.acttype}}</span></h4>
            <h4 ng-if="activity.acttype == 'Things to do'"> <span class="label label-thingsdo">{{activity.acttype}}</span></h4>
            <h3><a href="" ng-click="goDetailActivity(activity)">{{activity.name}}</a></h3>
            <h4 ng-if="activity.rank > 0"><span>Rating: </span><strong>{{activity.rank}} </strong><img src="assets/img/google13x13.png" alt="">                      </h4>

            <a href="" ng-if="day.day>=0" uib-popover-template="'myPopoverActivity.html'" popover-title="Notes" popover-placement="auto top-left" popover-trigger="'outsideClick'" class="card-action-icon pull-left"><i class="md-icon">insert_comment</i></a>
            <a href="" ng-if="day.day>=0 && state.current.name == 'itinerary-map'"  ng-click="deleteActDays(activity)" class="card-action-icon pull-right"><i class="md-icon">delete</i><span></span></a>
            <a href="" ng-if="act.acttype && state.current.name == 'itinerary-map'" ng-click="deleteActActivities(activity)" class="card-action-icon pull-right"><i class="md-icon">delete</i><span></span></a>
        </div>
        <!-- /.card-small-content -->
        <div class="card-small-content" ng-show="activity.ext">
        <!--<h4>{{activity.acttype}}</h4>-->
            <h3><a href="{{activity.lat}}" target="_blank">{{activity.name}}</a></h3>
            <a href="" ng-if="day.day>=0" uib-popover-template="'myPopoverActivity.html'" popover-title="Notes" popover-placement="auto top-left" popover-trigger="'outsideClick'" class="card-action-icon pull-left"><i class="md-icon">insert_comment</i></a>
            <a href="" ng-if="day.day>=0 && state.current.name == 'itinerary-map'"  ng-click="deleteActDays(activity)" class="card-action-icon pull-right"><i class="md-icon">delete</i><span></span></a>
            <a href="" ng-if="act.acttype && state.current.name == 'itinerary-map'" ng-click="deleteActActivities(activity)" class="card-action-icon pull-right"><i class="md-icon">delete</i><span></span></a>
        </div>
    </div>
    <!-- /.card-small -->

</div>
<script type="text/ng-template" id="myPopoverActivity.html">
    <!--<div>Add notes</div>-->
    <div class="form-group">
    <label>Add notes:</label>
    <!--<input ng-model="itinerary.id" type="hidden"/>-->
    <textarea ng-if="state.current.name == 'itinerary-map'" rows="10" cols="30" ng-model="activity.notes" class="form-control"></textarea>
    <textarea ng-if="state.current.name != 'itinerary-map'" rows="10" cols="30" ng-model="activity.notes" class="form-control" disabled></textarea>
    </div>
</script>